<section class="featured-client">
  <div class="container">
    <h2>AS FEATURED IN</h2>
    <ul class="clients-list">
      <!--bindings={
        "ng-reflect-ng-for-of": "[object Object],[object Object"
        }-->
      <li><a href="#"><%= image_tag("new-home/mail_online.svg", :class => "",:alt => "client-img") %></a></li>
      <li><a href="#"><%= image_tag("new-home/expatliving.svg", :class => "",:alt => "client-img") %></a></li>
      <li><a href="#"><%= image_tag("new-home/singaporetatler.svg", :class => "",:alt => "client-img") %></a></li>
      <li><a href="#"><%= image_tag("new-home/marieclaire.svg", :class => "",:alt => "client-img") %></a></li>
      <li><a href="#"><%= image_tag("new-home/womensweekly.svg", :class => "",:alt => "client-img") %></a></li>
      <li><a href="#"><%= image_tag("new-home/the_business_times.svg", :class => "",:alt => "client-img") %></a></li>
    </ul>
  </div>
</section>