<section class="home-intro">
  <div class="container home-intro-container">
    <h2 class="text-center"><%= data&.heading %></h2>
    <div class="intro-content" style="background-color: <%= data&.background_color%>;text-align: <%= data&.text_allignment%>;color: <%= data&.font_color%>">
      <div>
        <p style="color: <%= data&.font_color%>"><%= data&.caption %></p>
      </div>
    </div>
  </div>
</section>