
<p>Hello <%= @email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p>
  <% if @is_vendor%>
    <%= link_to 'Change my password', ENV['GLO_URL'] + @token %>
		<p> OR you can copy the following link and paste into browser </p>
	<%= link_to ENV['GLO_URL'] + @token, ENV['GLO_URL'] + @token %>
  <% elsif @is_customer_support %>
    <%= link_to 'Change my password', ENV['CUSTOMER_SUPPORT_URL'] + @token %>
        <p> OR you can copy the following link and paste into browser </p>
    <%= link_to ENV['CUSTOMER_SUPPORT_URL'] + @token, ENV['CUSTOMER_SUPPORT_URL'] + @token %>
  <% elsif @fulfilment_user %>
    <%= link_to 'Change my password', ENV['FULFILMENT_URL'] + @token %>
    <p> OR you can copy the following link and paste into browser </p>
    <%= link_to ENV['FULFILMENT_URL'] + @token, ENV['FULFILMENT_URL'] + @token %>
  <% else %>
    <%= link_to 'Change my password', @store.url + "/reset-password/" + @token %>
		<p> OR you can copy the following link and paste into browser </p>
		<%= link_to @store.url + "/reset-password/" + @token, @store.url + "/reset-password/" + @token %>
  <% end %>
</p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
